{"filter":false,"title":".htaccess","tooltip":"/api/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":14},"end":{"row":2,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"b4b6e2f9da2af720c338178ea40a0e9045768cc7","timestamp":1485273279694}